## 1. Analysis of costs to run animal shelters
<p>You are working as a data analyst in the animal welfare department. In preparation for next year's budget, the head of your department would like to know the total cost to shelter animals, broken down by each animal type and size combination (i.e., 'small dogs', 'large dogs', etc.). You need to prepare a table that contains this information.</p>
<p>The total cost to shelter an animal for the year is calculated as the sum of three factors: the size and animal type, the age, and the location.</p>
<ul>
<li>The base cost of sheltering an animal is based upon its size and type. The costs per animal type and size are contained in the <code>size_costs</code> table. The criteria for classifying size has recently been updated, and so you will need to categorize animals based upon the following table:</li>
</ul>
<table>
<thead>
<tr>
<th style="text-align:right;"></th>
<th style="text-align:right;">Small</th>
<th>Medium</th>
<th>Large</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:right;">Dog</td>
<td style="text-align:right;">&lt;= 10 lbs</td>
<td>10 lbs &lt; and &lt;= 30 lbs</td>
<td>30 lbs &lt;</td>
</tr>
<tr>
<td style="text-align:right;">Cat</td>
<td style="text-align:right;">&lt;= 5 lbs</td>
<td>5 lbs &lt; and &lt;= 7 lbs</td>
<td>7 lbs &lt;</td>
</tr>
<tr>
<td style="text-align:right;">Bird</td>
<td style="text-align:right;">&lt;= 0.7 lbs</td>
<td>0.7 lbs &lt; and &lt;= 1.1 lbs</td>
<td>1.1 lbs &lt;</td>
</tr>
</tbody>
</table>
<ul>
<li>Older animals cost more, and so an age cost (contained in the <code>age_costs</code> table) is added. Each animal's age should be calculated as the age by the end of the year (December 31st, 2021).</li>
<li>There is a location cost depending on where the animal is sheltered (contained in the <code>location_costs</code> table). </li>
<li>The calculation should not include animals that have been sponsored by private charities (sponsored animals are listed in the <code>sponsored_animals</code> table).</li>
</ul>
<p>For future visualization purposes, you will also need to include a <code>percentage</code> column in your result. This percentage should reflect the fraction of the total cost to be allocated to each animal and size combination.</p>
<p>The data you need is available in the tables shown in the database schema below.</p>
<h5 id="databaseschema">Database Schema</h5>
<p><img src="https://assets.datacamp.com/production/repositories/5934/datasets/a946a159c0024ee0995f7a030f2c0cf802203835/diagram.PNG" width="500" height="500"> </p>

In [10]:
%%sql
postgresql:///animal_shelters
SELECT animaltype, size, total, round(100.0*total/sum(total) OVER(),2) AS percentage
FROM
(
SELECT animaltype, size_costs.size, 
sum(loc_cost+age_cost+costs) as total
from
(
SELECT size, loc_cost, costs as age_cost
FROM
(    SELECT animals.animalid, 
        2021 - RIGHT(animals.birthdate, 4)::INTEGER AS animal_age,
        CASE
            WHEN weight > 30 AND animaltype = 'Dog' THEN 'DL'
            WHEN weight>10 AND weight <= 30 AND animaltype = 'Dog' THEN 'DM'
            when weight <= 10 AND animaltype = 'Dog' THEN 'DS'
            WHEN weight >7 AND animaltype = 'Cat' THEN 'CL'
            WHEN weight>5 AND weight <= 7 AND animaltype = 'Cat' THEN 'CM'
            when weight <= 5 AND animaltype = 'Cat' THEN 'CS'
            WHEN weight > 1.1 AND animaltype = 'Bird' THEN 'BL'
            WHEN weight>0.7 AND weight <= 1.1 AND animaltype = 'Bird' THEN 'BM'
            WHEN weight <= 0.7 and animaltype = 'Bird' THEN 'BS'
        END AS size,
        location_costs.costs as loc_cost
    FROM animals, location_costs
    WHERE animals.location = location_costs.location
    AND animals.animalid NOT IN
    (
        SELECT sponsorid
        FROM sponsored_animals
    )
) AS part1
LEFT JOIN age_costs
ON part1.animal_age::INTEGER = age_costs.age::INTEGER
) AS part2
LEFT JOIN size_costs
ON part2.size = size_costs.sizeid
GROUP BY animaltype, size_costs.size
) AS result
ORDER BY animaltype, size DESC

9 rows affected.

[('Bird', 'Small', 1615, Decimal('0.05')),
 ('Bird', 'Medium', 3130, Decimal('0.09')),
 ('Bird', 'Large', 8120, Decimal('0.23')),
 ('Cat', 'Small', 518015, Decimal('14.90')),
 ('Cat', 'Medium', 250575, Decimal('7.21')),
 ('Cat', 'Large', 439490, Decimal('12.64')),
 ('Dog', 'Small', 336530, Decimal('9.68')),
 ('Dog', 'Medium', 941895, Decimal('27.09')),
 ('Dog', 'Large', 977665, Decimal('28.12'))]